@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,700&display=swap');

* {
    box-sizing: border-box;
    background-color: #ff4f58ff;
}

#result {
    margin: 30px;
    display: flex;
    flex-direction: column;
    background-color: #f0f6f7ff;
}

.inside {
    background-color: #f0f6f7ff;
    flex-wrap: nowrap;
}

.flag-img {
    position: relative;
    display: block;
    width: 100px;
    height: 60px;
    top: 5px;
    left: 200px;


}

img {
    width: 300px;
    box-shadow: 1px 1px 10px gray;

}

h1 {
    text-align: center;
}

h1,
ul,
img,
li,
b {
    color: #a89c94ff;
    list-style: none;
    letter-spacing: 1.5px;
    text-indent: 40px;
    font-family: "Audiowide", sans-serif;
    background-color: #f0f6f7ff;
}

input {
    font-size: large;
    background-color: #f2edd7ff;
    border-radius: 10px;
    box-shadow: 0.02px 0.05px 5px #755139ff;
    height: 40px;
    width: 83%;
    margin-top: 30px;
    margin-left: 10px;
    overflow: hidden;
    font-style: italic;
    font-family: 'Crimson Text', serif;
}

button {
    background-color: #f2edd7ff;
    height: 40px;
    color: #011936ff;
    box-shadow: 0.02px 0.05px 5px #755139ff;
    width: 60px;
    margin-right: 10px;
    margin-top: 30px;
    border-radius: 10px;
}

.box {
    position: absolute;
    background-color: #f0f6f7ff;
    height: 400px;
    width: 500px;
    top: 25%;
    left: 40%;
    border-radius: 15px;
    overflow: hidden;
}

#item {

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 30px;
    background-color: #f0f6f7ff;
}